* {
     margin: 0;
     box-sizing: border-box;
}

html, body {
    background-color: rgb(2, 12, 59);
}

.container {
    max-width: 100vh;
}

/* Search container */
.container.search_location {
    background-image: url('https://cdn.pixabay.com/photo/2019/09/05/07/23/village-4453338__340.jpg');
    background-color: rgb(226, 226, 236, 0.7);
    border-radius: 10px 10px 10px 10px;
    min-height: 25vh;
}

input {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(69, 106, 138);
}
#temp-c,
#desc,
#sunrise,
#sunset {
    display: none;
}

.input_width {
    width: 50%;
}
form {
    display: flex;
    align-items: center;
}
  
form button {
    margin-left: 10px;
}

.city {
    font-size:xx-large;
    font-weight: bolder;
}
.button_color {
    background-color: #5ab170;
    color: white;
    font-weight:bolder;
}

.city_styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.temp_styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.description_styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(254, 254, 255);
}

.weather_styling {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}


/* Weather in Scandinavia*/
#header {
    background-color: rgb(2, 12, 59);
    color: white;
}

.columncolor {
    background-color: rgba(255, 255, 255, 0.5);
}

.fontw {
    font-size: 1.5em;
    font-weight: 900;
    -webkit-text-stroke: 0.5px rgb(58, 58, 58);
    color: white;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color:rgb(2, 12, 59);
    padding: 10px;
  }
.grid-item {
    background-color: rgba(63, 63, 63, 0.8);
    text-align: center;
}

.grid-item.column2,
.grid-item.column3,
.grid-item.column4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tempstyling {
    color: white;
    font-weight: bolder;
    font-size: 2.5em;
    text-align: start;
}

.citystyling {
    color:white;
    font-size: 1rem;
    text-align: start;
}

.column1 {
    width: 85%;
    background-color: transparent;
}

.column2 {
    background-color: rgb(255, 254, 254, 0.5);
    border-radius: 15px 0 0 15px;
    height: 80%;
}

.column3 {
    background-color: rgb(255, 254, 254, 0.5);
    height: 80%;
}

.column4 {
    background-color: rgb(255, 254, 254, 0.5);
    border-radius: 0 15px 15px 0;
    height: 80%;
}

.column5 {
    color: white;
    width: 85%;
    justify-self: end;
    border-radius: 0 15px 15px 0;
    height: 95%;
}

.marginontop {
    margin-top: 0.5rem;
}

.degree,
.humidity,
.wind
{
    color: white;
    font-weight: 800;
}

.degree_text,
.humidity_text,
.wind_text
{
    color: white;
}